/* Dial /////////////////////////////////////*/
#dial_svg{
    width: 400px;
    height: 400px;
}

.outer_path{
    stroke: black;
    fill: white;
}

.outer_text{
    stroke: black;
    fill: black;
    stroke-width: 0;
    font-size: 15px;
    user-select: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

.outer_path_mouseover{
    fill: #ff9797;
}

.outer_path_active{
    fill: red;
}

.center_path{
    stroke: black;
    fill: white;
}

.center_text{
    stroke: black;
    fill: black;
    stroke-width: 0;
    font-size: 25px;
    user-select: none;
    dominant-baseline: middle;
    text-anchor: middle;
}

/* Table ///////////////////////////////////////////////////////////////////////////////////////////////// */
.prog_table{
    width: 1900px !important;
    position: relative;
    left: -100px;
}

.prog_head{
    text-align: center;
    vertical-align: text-top;
    width:100px;
    font-weight: bold;
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

.prog_repos{
    position: relative;
    top: 5px;}

.time_cell{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    text-align: left;
    width: 100px;
}

.time_cell_active{
    background-color: #80b8f5 !important
}

.table_cell{
    -webkit-user-select: none;         
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    text-align: left;
    width: 100px;
}

.table_cell_active{
    background-color: #80b8f5 !important;
    animation-name: table_cell_active_ani;
    animation-duration: 1s;
}

/* Visualiser ////////////////////////////////////////////////////////////////////////////*/


/* Barlines //////////////////////////////////////////////////////////////////////////////// */
.barline_svg{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1600px;
    height: 1000px;
    pointer-events: none;
}

.barline{
    fill: black;
    opacity: 0.1;
}

/* Piano Roll Overlay //////////////////////////////////////////////////////////////////// */
canvas{
    display: block;
}

.svg{
    position: relative;
    top: -280px;
    width: 1600px;
    height: 280px;
}

.up{
    position:relative;
    top: -280px
}

/* Bpm slider ////////////////////////////////////////////////////////////////////////////////// */
#bpm_slider{
    position: relative;
    top: 15px;
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#bpm_slider:hover {
    opacity: 1;
  }
  
#bpm_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #80b8f5;
    cursor: pointer;
    stroke-width: 0px;
}
  
#bpm_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #80b8f5;
    cursor: pointer;
    stroke-width: 0px;
}

#slider_container{
    height: 50px;
}


/* Global ////////////////////////////////////////////////////////////////////////////////*/
#app{
    transform-origin: top left;
    -webkit-transform: scale(0.65);
}
